/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html.loading * {
  -webkit-transition-duration: 0 !important;
}

html:not(.focus-outline-visible)
:enabled:focus:-webkit-any(input[type='checkbox'], input[type='radio']) {
  /* Cancel border-color for :focus specified in widgets.css. */
  border-color: rgba(0, 0, 0, 0.25);
}

.no-scroll {
  overflow-y: hidden;
}

/* Developer mode */

#dev-controls {
  -webkit-margin-end: 20px;
  -webkit-transition: padding 100ms, height 100ms, opacity 100ms;
  border-bottom: 1px solid #eee;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

#dev-controls .buttons-container {
  -webkit-padding-end: 3px;
  -webkit-padding-start: 4px;
}

#dev-controls .buttons-container {
  display: -webkit-box;
  padding-top: 13px;
}

#dev-controls button {
  white-space: nowrap;
}

#apps-developer-tools-promo {
  -webkit-margin-before: 15px;
  -webkit-padding-before: 5px;
  -webkit-padding-end: 3px;
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
  font-size: 13px;
}

#apps-developer-tools-promo img {
  content: url(apps_developer_tools_promo_48.png);
}

#apps-developer-tools-promo-text {
  -webkit-margin-start: 5px;
}

#apps-developer-tools-promo-close-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

#apps-developer-tools-promo .close-button {
  background: url(chrome://theme/IDR_CLOSE_DIALOG) no-repeat center center;
  border: 0;
  height: 14px;
  width: 14px;
  z-index: 1;
}

#apps-developer-tools-promo .close-button:hover {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_H);
}

#apps-developer-tools-promo .close-button:active {
  background-image: url(chrome://theme/IDR_CLOSE_DIALOG_P);
}

#extension-settings.dev-mode #dev-controls {
  -webkit-transition-duration: 250ms;
  height: 45px;
  opacity: 1;
  padding-bottom: 7px;
}

#extension-settings.dev-mode.adt-promo #dev-controls {
  height: 105px;  /* Allow more height for the Apps Developer Tools promo. */
}

#dev-controls-spacer {
  -webkit-box-flex: 1;
}

#dev-toggle {
  margin-top: 0;
  text-align: end;
}

.extension-code {
  border: 1px solid #ccc;
  display: flex;
  font-family: monospace;
  overflow: auto;
  white-space: pre;
}

.extension-code > * {
  padding: 3px;
}

.extension-code-line-numbers {
  align-self: flex-start;
  background-color: rgba(240, 240, 240, 1);
  border-right: 1px solid #ccc;
  color: rgba(128, 128, 128, 1);
  flex-shrink: 0;
  text-align: right;
}

#extension-settings:not(.dev-mode) .developer-extras {
  display: none;
}

.developer-extras > div,
.permanent-warnings > div {
  margin: 5px 0;
}

#extension-settings #page-header {
  /* These values match the .page values. */
  -webkit-margin-end: 24px;
  min-width: 576px;
}

/* Contents */

#extension-settings {
  max-width: 738px;
}

#no-extensions-message {
  font-weight: bold;
}

#suggest-gallery {
  -webkit-padding-start: 10px;
}

#footer-section {
  background: url(chrome://theme/IDR_WEBSTORE_ICON_32) no-repeat left center;
  background-size: 32px 32px;
  font-size: 1.25em;
}

html[dir=rtl] #footer-section {
  background: url(chrome://theme/IDR_WEBSTORE_ICON_32) no-repeat right center;
}

#footer-section > a {
  -webkit-margin-start: 42px;
  line-height: 32px;
}

.empty-extension-list {
  height: 3em;
}

.loading #no-extensions,
.loading #footer-section,
#extension-settings-list:not(.empty-extension-list) ~ #no-extensions,
.empty-extension-list ~ #footer-section {
  display: none;
}

.extension-list-item-wrapper {
  margin: 23px 0;
}

.extension-list-item {
  background-repeat: no-repeat;
  display: -webkit-box;
  min-height: 48px;
}

.extension-list-item a {
  -webkit-margin-start: 0.5em;
  display: inline-block;
}

html[dir='rtl'] .extension-list-item {
  background-position: right;
}

.extension-title {
  -webkit-padding-end: 20px;
  color: rgb(48, 57, 66);
  font-size: 14px;
  font-weight: 500;
}

.inactive-extension .extension-title {
  color: inherit;
}

.extension-version {
  -webkit-padding-end: 7px;
  font-size: 13px;
  font-weight: 400;
}

.extension-description {
  -webkit-padding-end: 5px;
  font-size: 13px;
  margin: 5px 0;
  white-space: normal;
}

.action-links {
  -webkit-margin-after: 0.5em;
}

.action-links :-webkit-any(a, .link-button) {
  -webkit-margin-end: 1em;
  -webkit-margin-start: 0;
}

.extension-details {
  -webkit-box-flex: 1;
  -webkit-padding-end: 7px;
  -webkit-padding-start: 55px;
}

.extension-description,
.extension-version,
.extension-list-item-wrapper.inactive-extension .extension-details,
.location-text,
.blacklist-text,
.enable-checkbox input:disabled + .enable-checkbox-text {
  color: rgb(151, 156, 160);
}

.enable-controls {
  /* Matches right: position of dev controls toggle. */
  -webkit-margin-end: 20px;
  position: relative;
}

.checkbox {
  display: inline-block;
}

.enabled-text {
  font-weight: bold;
}

.extension-list-item-wrapper.inactive-extension .enabled-text,
.extension-list-item-wrapper:not(.inactive-extension) .enable-text,
.extension-list-item-wrapper.inactive-extension .optional-controls,
.extension-list-item-wrapper.inactive-extension .butter-bar {
  display: none;
}

.load-path > span {
  word-wrap: break-word;
}

.terminated-reload-link {
  -webkit-margin-end: 2.5em;
  padding-top: 7px;
}

.install-warnings a {
  -webkit-margin-start: 0;
}

.butter-bar,
.install-warnings,
.extension-warnings {
  border-radius: 3px;
  margin-top: 5px;
  padding: 2px 5px;
}

.butter-bar {
  background: rgb(255, 242, 153);
}

.install-warnings,
.extension-warnings {
  background: pink;
}

.install-warnings ul,
.extension-warnings ul {
  margin: 0;
}

.error-collection-control {
  -webkit-margin-start: 5px;
  display: none;
}

#extension-settings.dev-mode .error-collection-control {
  display: initial;
}

#font-measuring-div {
  /* Remove from the flow and hide. */
  position: absolute;
  visibility: hidden;
}

.extension-commands-config {
  float: right;
}

html[dir=rtl] .extension-commands-config {
  float: left;
}

/* Overlays */

#overlay {
  z-index: 5;
}

#overlay .page:not(.showing) {
  display: none;
}

#drop-target-overlay {
  color: rgb(48, 57, 66);
  font-size: 18px;
  text-align: center;
}

#drop-target-overlay div {
  margin: 1em;
}

.location-text,
.blacklist-text {
  display: block;
  width: 100px;
}

/* Trash */

#extension-settings .trash {
  -webkit-transition: opacity 200ms;
  height: 22px;
  opacity: 0.8;
  position: relative;
  right: 0;
  top: 6px;
}

html[dir='rtl'] #extension-settings .trash {
  left: 0;
  right: auto;
}

.extension-list-item:not(:hover) .trash:not(:focus) {
  opacity: 0;
}

.extension-list-item-wrapper.may-not-remove .trash {
  visibility: hidden;
}

.extension-highlight {
  background: rgb(238, 238, 238);
  background-position: auto;
  background-repeat: auto;
  border-radius: 3px;
  padding: 5px 0 5px 5px;
}

/* Supervised users */

.page:not(.profile-is-supervised) .profile-is-supervised-banner,
.profile-is-supervised .more-extensions-link {
  display: none;
}

.profile-is-supervised-banner .page-banner-text {
  background-image: url(chrome://theme/IDR_WARNING);
}

/* Sideload Wipeout */

.sideload-wipeout-learn-more {
  text-decoration: none;
}

.sideload-wipeout-banner .page-banner-text {
  -webkit-padding-start: 8px;
  background-image: none;
}
