<div id="content-settings-page" class="page" hidden>
  <div class="close-button"></div>
  <h1 i18n-content="contentSettingsPage"></h1>
  <div class="content-area">
    <!-- Cookie filter tab contents -->
    <section>
      <h3 i18n-content="cookiesTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="cookies" value="allow">
            <span>
              <span i18n-content="cookiesAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="cookies" value="allow"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="cookies" value="session">
            <span>
              <span i18n-content="cookies_session_only"></span>
              <span class="controlled-setting-indicator"
                  content-setting="cookies" value="session"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="cookies" value="block">
            <span>
              <span i18n-content="cookiesBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="cookies" value="block"></span>
            </span>
          </label>
        </div>
        <div class="checkbox controlled-setting-with-label">
          <label>
            <input pref="profile.block_third_party_cookies" type="checkbox">
            <span>
              <span i18n-content="cookies_block_3rd_party"></span>
              <span class="controlled-setting-indicator"
                  pref="profile.block_third_party_cookies"></span>
          </label>
        </div>
        <!-- TODO(jochen): remove the div with the clear cookies on exit option
                           once this has shipped. -->
        <div class="checkbox" guest-visibility="disabled" hidden>
          <label>
            <input id="clear-cookies-on-exit"
                pref="profile.clear_site_data_on_exit" type="checkbox">
            <span i18n-content="cookies_lso_clear_when_close"
                class="clear-plugin-lso-data-enabled"></span>
            <span i18n-content="cookies_clear_when_close"
                class="clear-plugin-lso-data-disabled"></span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="cookies"
              i18n-content="manageExceptions"></button>
          <button id="show-cookies-button"
              i18n-content="cookies_show_cookies"></button>
        </div>
     </div>
      <div class="experimental-website-settings" hidden>
        <span id="cookies-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="cookies" i18n-content="websitesManage"></button>
          <button id="show-cookies-button"
              i18n-content="cookies_show_cookies"></button>
        </div>
      </div>
    </section>
    <!-- Image filter -->
    <section>
      <h3 i18n-content="imagesTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="images" value="allow">
            <span i18n-content="imagesAllow"></span>
            <span class="controlled-setting-indicator"
                content-setting="images" value="allow"></span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="images" value="block">
            <span>
              <span i18n-content="imagesBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="images" value="block"></span>
            </span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="images"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
      <div class="experimental-website-settings" hidden>
        <span id="images-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="images" i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- JavaScript filter -->
    <section>
      <h3 i18n-content="javascriptTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="javascript" value="allow">
            <span>
              <span i18n-content="javascriptAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="javascript" value="allow"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="javascript" value="block">
            <span>
              <span i18n-content="javascriptBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="javascript" value="block"></span>
            </span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="javascript"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
      <div class="experimental-website-settings" hidden>
        <span id="javascript-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="javascript" i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- Handlers settings -->
    <section id="handlers-section">
      <h3 i18n-content="handlers_tab_label"></h3>
      <div>
        <div class="radio">
          <label>
            <input type="radio" name="handlers" value="allow"
                class="handler-radio">
            <span i18n-content="handlers_allow"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="handlers" value="block"
                class="handler-radio">
            <span i18n-content="handlers_block"></span>
          </label>
        </div>
        <div class="settings-row">
          <button id="manage-handlers-button" contentType="handlers"
              i18n-content="manage_handlers"></button>
        </div>
      </div>
    </section>
    <!-- Plug-ins filter -->
    <section>
      <h3 i18n-content="pluginsTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="plugins" value="allow">
            <span>
              <span i18n-content="pluginsAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="plugins" value="allow"></span>
            </span>
          </label>
        </div>
        <div id="click_to_play" class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="plugins" value="ask">
            <span>
              <span i18n-content="pluginsAsk"></span>
              <span class="controlled-setting-indicator"
                  content-setting="plugins" value="ask"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="plugins" value="block">
            <span>
              <span i18n-content="pluginsBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="plugins" value="block"></span>
            </span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="plugins"
              i18n-content="manageExceptions"></button>
        </div>
        <div id="disable-plugins-container">
          <a href="chrome://plugins" i18n-content="disableIndividualPlugins"
              target="_blank"></a>
        </div>
      </div>
    <div class="experimental-website-settings" hidden>
        <span id="plugins-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="plugins" i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- Pop-ups filter -->
    <section>
      <h3 i18n-content="popupsTabLabel" class="content-settings-header"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="popups" value="allow">
            <span>
              <span i18n-content="popupsAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="popups" value="allow"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="popups" value="block">
            <span>
              <span i18n-content="popupsBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="popups" value="block"></span>
            </span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="popups"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    <div class="experimental-website-settings" hidden>
        <span id="popups-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="popups" i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- Location filter -->
    <section>
      <h3 i18n-content="locationTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="location" value="allow">
            <span>
              <span i18n-content="locationAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="location" value="allow"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="location" value="ask">
            <span>
              <span i18n-content="locationAsk"></span>
              <span class="controlled-setting-indicator"
                  content-setting="location" value="ask"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="location"
                value="block">
            <span>
              <span i18n-content="locationBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="location" value="block"></span>
            </span>
          </label>
        </div>
<if expr="enable_google_now">
        <div class="checkbox controlled-setting-with-label"
            id="geolocationCheckbox" hidden>
          <label>
            <input pref="googlegeolocationaccess.enabled"
                metric="Options_GoogleGeolocationAccessCheckbox"
                type="checkbox">
            <span>
              <span i18n-content="googleGeolocationAccessEnable"></span>
              <span class="controlled-setting-indicator"
                  pref="googlegeolocationaccess.enabled"></span>
            </span>
          </label>
        </div>
</if>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="location"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    <div class="experimental-website-settings" hidden>
        <span id="location-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="geolocation" i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- Notifications filter tab contents -->
    <section id="notifications-section">
      <h3 i18n-content="notificationsTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="notifications" value="allow">
            <span>
              <span i18n-content="notificationsAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="notifications" value="allow"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="notifications" value="ask">
            <span>
              <span i18n-content="notificationsAsk"></span>
              <span class="controlled-setting-indicator"
                  content-setting="notifications" value="ask"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="notifications" value="block">
            <span>
              <span i18n-content="notificationsBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="notifications" value="block"></span>
            </span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="notifications"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    <div class="experimental-website-settings" hidden>
        <span id="notifications-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="notifications"
              i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- Fullscreen filter -->
    <section>
      <h3 i18n-content="fullscreenTabLabel"></h3>
      <div class="settings-row">
        <button class="exceptions-list-button" contentType="fullscreen"
            i18n-content="manageExceptions"></button>
      </div>
    </section>
    <!-- Mouse Lock filter -->
    <section>
      <h3 i18n-content="mouselockTabLabel"></h3>
      <div>
        <div class="radio">
          <label>
            <input type="radio" name="mouselock" value="allow">
            <span i18n-content="mouselockAllow"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="mouselock" value="ask">
            <span i18n-content="mouselockAsk"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="mouselock" value="block">
            <span i18n-content="mouselockBlock"></span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="mouselock"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    </section>
<if expr="chromeos or is_win">
    <!-- Protected Content filter -->
    <section guest-visibility="disabled">
      <h3 i18n-content="protectedContentTabLabel"
          class="content-settings-header"></h3>
      <div>
        <div class="settings-row">
          <p i18n-content="protectedContentInfo"></p>
        </div>
        <div class="checkbox">
          <label>
            <input pref="settings.privacy.drm_enabled" type="checkbox">
            <span i18n-content="protectedContentEnable"></span>
          </label>
        </div>
  <if expr="chromeos">
        <div class="settings-row">
          <button id="protected-content-exceptions"
              class="exceptions-list-button" contentType="protectedContent"
              i18n-content="manageExceptions"></button>
        </div>
  </if>
      </div>
    </section>
</if>
    <!-- Media Stream capture device filter -->
    <section id="media-stream-settings">
      <div class="section-header">
        <h3 i18n-content="mediaStreamTabLabel"></h3>
        <span id="media-indicator"
            class="controlled-setting-indicator group-indicator"></span>
      </div>
      <div>
        <div class="media-device-control">
          <span i18n-content="mediaSelectMicLabel"></span>
          <select id="media-select-mic" class="weakrtl"></select>
        </div>
        <div class="media-device-control">
          <span i18n-content="mediaSelectCameraLabel"></span>
          <select id="media-select-camera" class="weakrtl"></select>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="media-stream" value="ask">
            <span>
              <span id="media-stream-ask-label" i18n-content="mediaStreamAsk">
              </span>
              <span class="controlled-setting-indicator"
                  content-setting="media-stream" value="ask"></span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input id="media-stream-block" type="radio" name="media-stream"
                value="block">
            <span>
              <span id="media-stream-block-label"
                 i18n-content="mediaStreamBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="media-stream" value="block"></span>
            </span>
          </label>
        </div>
        <div class="settings-row replace-with-website-settings">
          <button class="exceptions-list-button" contentType="media-stream"
              i18n-content="manageExceptions"></button>
        </div>
        <div id="media-pepper-flash-default" class="pepper-flash-settings">
          <span i18n-content="mediaPepperFlashDefaultDivergedLabel"></span>
          <a target="_blank" i18n-content="mediaPepperFlashChangeLink"
              i18n-values="href:mediaPepperFlashGlobalPrivacyURL"></a>
        </div>
      </div>
    <div class="experimental-website-settings" hidden>
      <div class="settings-row">
        <button class="website-settings-permission-button"
            contentType="media-stream" i18n-content="websitesManage"></button>
      </div>
    </div>
    </section>
    <!-- PPAPI broker -->
    <section>
      <h3 i18n-content="ppapiBrokerTabLabel"></h3>
      <div>
        <div class="radio">
          <label>
            <input type="radio" name="ppapi-broker" value="allow">
            <span i18n-content="ppapiBrokerAllow"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="ppapi-broker" value="ask">
            <span i18n-content="ppapiBrokerAsk"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="ppapi-broker" value="block">
            <span i18n-content="ppapiBrokerBlock"></span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="ppapi-broker"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    </section>
    <!-- Automatic Downloads filter -->
    <section>
      <h3 i18n-content="multipleAutomaticDownloadsTabLabel"></h3>
      <div class="replace-with-website-settings">
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="multiple-automatic-downloads"
                value="allow">
            <span>
              <span i18n-content="multipleAutomaticDownloadsAllow"></span>
              <span class="controlled-setting-indicator"
                  content-setting="multiple-automatic-downloads" value="allow">
              </span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="multiple-automatic-downloads" value="ask">
            <span>
              <span i18n-content="multipleAutomaticDownloadsAsk"></span>
              <span class="controlled-setting-indicator"
                  content-setting="multiple-automatic-downloads" value="ask">
              </span>
            </span>
          </label>
        </div>
        <div class="radio controlled-setting-with-label">
          <label>
            <input type="radio" name="multiple-automatic-downloads"
                value="block">
            <span>
              <span i18n-content="multipleAutomaticDownloadsBlock"></span>
              <span class="controlled-setting-indicator"
                  content-setting="multiple-automatic-downloads" value="block">
              </span>
            </span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button"
              contentType="multiple-automatic-downloads"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    <div class="experimental-website-settings" hidden>
        <span id="multiple-automatic-downloads-default-string"></span>
        <div class="settings-row">
          <button class="website-settings-permission-button"
              contentType="multiple-automatic-downloads"
              i18n-content="websitesManage"></button>
        </div>
      </div>
    </section>
    <!-- MIDI system exclusive messages filter -->
    <section id="experimental-web-midi-settings" hidden="true">
      <h3 i18n-content="midi-sysex_header"></h3>
      <div>
        <div class="radio">
          <label>
            <input type="radio" name="midi-sysex" value="allow">
            <span i18n-content="midiSysExAllow"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="midi-sysex" value="ask">
            <span i18n-content="midiSysExAsk"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="midi-sysex" value="block">
            <span i18n-content="midiSysExBlock"></span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="midi-sysex"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    </section>
    <!-- Push messaging filter -->
    <section id="experimental-push-messaging-settings" hidden="true">
      <h3 i18n-content="push-messaging_header"></h3>
      <div>
        <div class="radio">
          <label>
            <input type="radio" name="push-messaging" value="allow">
            <span i18n-content="pushMessagingAllow"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="push-messaging" value="ask">
            <span i18n-content="pushMessagingAsk"></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="push-messaging" value="block">
            <span i18n-content="pushMessagingBlock"></span>
          </label>
        </div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="push-messaging"
              i18n-content="manageExceptions"></button>
        </div>
      </div>
    </section>
    <!-- Page zoom levels -->
    <section id="page-zoom-levels">
      <h3 i18n-content="zoomlevels_header"></h3>
      <div>
        <div class="settings-row">
          <button class="exceptions-list-button" contentType="zoomlevels"
              i18n-content="zoomLevelsManage"></button>
        </div>
      </div>
    </section>
  </div>
  <div class="action-area">
    <div class="button-strip">
      <button id="content-settings-overlay-confirm" class="default-button"
          i18n-content="done">
      </button>
    </div>
  </div>
</div>
