{{+bindTo:partials.standard_nacl_article}}

<section id="native-client-documentation-sitemap">
<h1 id="native-client-documentation-sitemap">Native Client Documentation Sitemap</h1>
<p>Contents:</p>
<div class="toctree-wrapper compound">
<ul class="small-gap">
<li class="toctree-l1"><a class="reference internal" href="/native-client/overview.html">Technical Overview</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#why-use-native-client">Why use Native Client?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#common-use-cases">Common use cases</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#how-native-client-works">How Native Client works</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#native-client-in-a-web-application">Native Client in a web application</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#versioning">Versioning</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/overview.html#where-to-start">Where to start</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/quick-start.html">Quick-start</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/nacl-and-pnacl.html">NaCl and PNaCl</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/nacl-and-pnacl.html#native-client-nacl">Native Client (NaCl)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/nacl-and-pnacl.html#portable-native-client-pnacl">Portable Native Client (PNaCl)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/nacl-and-pnacl.html#when-to-use-pnacl">When to use PNaCl</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/nacl-and-pnacl.html#when-to-use-nacl">When to use NaCl</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/glossary.html">Glossary</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/sdk/download.html">Download the Native Client SDK</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/download.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/download.html#prerequisites">Prerequisites</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/download.html#installing-the-sdk">Installing the SDK</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/download.html#installing-bundles">Installing bundles</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/download.html#updating-bundles">Updating bundles</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/download.html#help-with-the-naclsdk-utility">Help with the <code>naclsdk</code> utility</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/sdk/examples.html">Running the SDK Examples</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#enable-native-client">Enable Native Client</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#disable-the-chrome-cache">Disable the Chrome cache</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#build-the-sdk-examples">Build the SDK examples</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#build-results">Build results</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#run-the-sdk-examples">Run the SDK examples</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#run-the-sdk-examples-as-packaged-apps">Run the SDK examples as packaged apps</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/examples.html#debugging-the-sdk-examples">Debugging the SDK examples</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/sdk/release-notes.html">Release Notes</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#chrome-pepper-38-15-august-2014">Chrome/Pepper 38 (15 August 2014)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#chrome-pepper-37-20-june-2014">Chrome/Pepper 37 (20 June 2014)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#chrome-pepper-36-09-may-2014">Chrome/Pepper 36 (09 May 2014)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#chrome-pepper-35-31-mar-2014">Chrome/Pepper 35 (31 Mar 2014)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#chrome-pepper-34-20-feb-2014">Chrome/Pepper 34 (20 Feb 2014)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#chrome-pepper-33-16-dec-2013">Chrome/Pepper 33 (16 Dec 2013)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pnacl-enabled-by-default-in-chrome-31-12-nov-2013">PNaCl enabled by default in Chrome 31 (12 Nov 2013)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pnacl-in-chrome-30-dev-channel-01-aug-2013">PNaCl in Chrome 30 Dev channel (01 Aug 2013)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pnacl-15-may-2013">PNaCl (15 May 2013)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pepper-27-12-april-2013">Pepper 27 (12 April 2013)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pepper-26-29-march-2013">Pepper 26 (29 March 2013)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pepper-25-21-december-2012">Pepper 25 (21 December 2012)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pepper-24-5-december-2012">Pepper 24 (5 December 2012)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pepper-23-15-october-2012">Pepper 23 (15 October 2012)</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/sdk/release-notes.html#pepper-22-22-august-2012">Pepper 22 (22 August 2012)</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/index.html">Developer&#8217;s Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/tutorial/index.html">Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html">C++ Tutorial: Getting Started (Part 1)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-1-download-and-install-the-native-client-sdk">Step 1: Download and install the Native Client SDK</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-2-start-a-local-server">Step 2: Start a local server</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-3-set-up-the-chrome-browser">Step 3: Set up the Chrome browser</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-4-stub-code-for-the-tutorial">Step 4: Stub code for the tutorial</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-5-compile-the-native-client-module-and-run-the-stub-application">Step 5: Compile the Native Client module and run the stub application</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-6-modify-the-javascript-code-to-send-a-message-to-the-native-client-module">Step 6: Modify the JavaScript code to send a message to the Native Client module</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-7-implement-a-message-handler-in-the-native-client-module">Step 7: Implement a message handler in the Native Client module</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#step-8-compile-the-native-client-module-and-run-the-application-again">Step 8: Compile the Native Client module and run the application again</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#troubleshooting">Troubleshooting</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part1.html#next-steps">Next steps</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html">C++ Tutorial: Getting Started (Part 2)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html#using-the-native-client-sdk-build-system">Using the Native Client SDK build system</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html#making-index-html-work-for-chrome-apps">Making index.html work for Chrome Apps</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html#sharing-common-code-with-common-js">Sharing common code with common.js</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html#example-specific-behavior-with-example-js">Example-specific behavior with example.js</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/tutorial/tutorial-part2.html#compile-the-native-client-module-and-run-the-application-again">Compile the Native Client module and run the application again</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/devcycle/index.html">Development Cycle</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/devcycle/building.html">Building</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#the-pnacl-toolchain">The PNaCl toolchain</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#using-the-pnacl-tools-to-compile-link-debug-and-deploy">Using the PNaCl tools to compile, link, debug, and deploy</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#the-gnu-based-toolchains">The GNU-based toolchains</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#using-make">Using make</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#libraries-and-header-files-provided-with-the-sdk">Libraries and header files provided with the SDK</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/building.html#troubleshooting">Troubleshooting</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/devcycle/running.html">Running</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#portable-native-client-pnacl-applications">Portable Native Client (PNaCl) applications</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#native-client-applications-and-the-chrome-web-store">Native Client applications and the Chrome Web Store</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#prerequisites">Prerequisites</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#requirements">Requirements</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#technique-1-local-server">Technique 1: Local server</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#technique-2-packaged-application-loaded-as-an-unpacked-extension">Technique 2: Packaged application loaded as an unpacked extension</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#technique-3-hosted-application-loaded-as-an-unpacked-extension">Technique 3: Hosted application loaded as an unpacked extension</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/running.html#technique-4-chrome-web-store-application-with-trusted-testers">Technique 4: Chrome Web Store application with trusted testers</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/devcycle/debugging.html">Debugging</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/debugging.html#diagnostic-information">Diagnostic information</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/debugging.html#basic-debugging">Basic debugging</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/debugging.html#debugging-with-other-tools">Debugging with other tools</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/devcycle/vs-addin.html">Debugging with Visual Studio</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/vs-addin.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/vs-addin.html#platforms">Platforms</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/vs-addin.html#installing-the-add-in">Installing the add-in</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/vs-addin.html#try-the-hello-world-gles-sample-project">Try the <code>hello_world_gles</code> sample project</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/vs-addin.html#developing-for-native-client-in-visual-studio">Developing for Native Client in Visual Studio</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/devcycle/dynamic-loading.html">Dynamic Linking and Loading with glibc</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/dynamic-loading.html#c-standard-libraries-glibc-and-newlib">C standard libraries: glibc and newlib</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/dynamic-loading.html#sdk-toolchains">SDK toolchains</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/devcycle/dynamic-loading.html#specifying-and-delivering-shared-libraries">Specifying and delivering shared libraries</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/index.html">Coding Your Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html">3D Graphics</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html#validating-the-client-graphics-platform">Validating the client graphics platform</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html#calling-opengl-es-2-0-commands">Calling OpenGL ES 2.0 commands</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html#implementing-a-rendering-loop">Implementing a rendering loop</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html#managing-the-opengl-es-2-0-pipeline">Managing the OpenGL ES 2.0 pipeline</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html#rendering-and-inactive-tabs">Rendering and inactive tabs</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/3D-graphics.html#tips-and-best-practices">Tips and best practices</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/audio.html">Audio</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#reference-information">Reference information</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#about-the-pepper-audio-api">About the Pepper audio API</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#digital-audio-concepts">Digital audio concepts</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#setting-up-the-module">Setting up the module</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#creating-an-audio-configuration-resource">Creating an audio configuration resource</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#creating-an-audio-resource">Creating an audio resource</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#implementing-a-callback-function">Implementing a callback function</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/audio.html#starting-and-stopping-playback">Starting and stopping playback</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/application-structure.html">Application Structure</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/application-structure.html#application-components">Application components</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/application-structure.html#html-file-and-the-embed-element">HTML file and the &lt;embed&gt; element</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/application-structure.html#manifest-files">Manifest Files</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/application-structure.html#modules-and-instances">Modules and instances</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/application-structure.html#native-client-modules-a-closer-look">Native Client modules: A closer look</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/native-client-modules.html">Native Client Modules</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/native-client-modules.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/native-client-modules.html#writing-modules-in-c">Writing modules in C</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/native-client-modules.html#id1">Writing modules in C++</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/file-io.html">File I/O</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/file-io.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/file-io.html#reference-information">Reference information</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/file-io.html#local-file-i-o">Local file I/O</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/file-io.html#the-file-io-example">The <code>file_io</code> example</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/file-io.html#file-io-deep-dive"><code>file_io</code> deep dive</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/nacl_io.html">The nacl_io Library</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/nacl_io.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/nacl_io.html#using-nacl-io">Using nacl_io</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/nacl_io.html#the-nacl-io-demo">The nacl_io demo</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/nacl_io.html#reference-information">Reference information</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/message-system.html">Messaging System</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/message-system.html#reference-information">Reference information</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/message-system.html#introduction-to-the-messaging-system">Introduction to the messaging system</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/message-system.html#communication-tasks-in-the-hello-world-example">Communication tasks in the &#8220;Hello, World&#8221; example</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/message-system.html#messaging-in-javascript-code-more-details">Messaging in JavaScript code: More details.</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/message-system.html#messaging-in-the-native-client-module-more-details">Messaging in the Native Client module: More details.</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html">Progress Events</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html#module-loading-and-progress-events">Module loading and progress events</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html#handling-progress-events">Handling progress events</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html#displaying-load-status">Displaying load status</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html#the-lasterror-attribute">The <code>lastError</code> attribute</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html#the-readystate-attribute">The <code>readyState</code> attribute</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/progress-events.html#the-exitstatus-attribute">The <code>exitStatus</code> attribute</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/url-loading.html">URL Loading</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/url-loading.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/url-loading.html#reference-information">Reference information</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/url-loading.html#background">Background</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/url-loading.html#the-url-loader-example">The <code>url_loader</code> example</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/url-loading.html#url-loader-deep-dive"><code>url_loader</code> deep dive</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/coding/view-focus-input-events.html">View Change, Focus, and Input Events</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/view-focus-input-events.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/view-focus-input-events.html#handling-browser-events">Handling browser events</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/coding/view-focus-input-events.html#handling-input-events">Handling input events</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/devguide/distributing.html">Distributing Your Application</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/distributing.html#portable-native-client">Portable Native Client</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/devguide/distributing.html#non-portable-native-client">Non-portable Native Client</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/io2014.html">Building a NaCl App</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/io2014.html#in-the-browser">In the browser!</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/community/index.html">Community</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/community/security-contest/index.html">Security Contest Archive</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/index.html#contest-overview">Contest overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/index.html#contest-winners">Contest winners</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/index.html#panel-of-judges">Panel of judges</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/index.html#additional-information">Additional information</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/community/security-contest/contest-announcement.html">Native Client Security Contest</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-announcement.html#what-it-is">What it is</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-announcement.html#when">When</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-announcement.html#what-s-in-it-for-you">What&#8217;s in it for you</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-announcement.html#forum-native-client-announce">Forum: native-client-announce</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-announcement.html#forum-native-client-discuss">Forum: native-client-discuss</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/community/security-contest/contest-terms.html">Security Contest Terms and Conditions</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html">Security Contest FAQ</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-is-this-contest-about">What is this contest about?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#where-can-i-get-more-information-on-native-client">Where can I get more information on Native Client?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-people-are-you-looking-for">What people are you looking for?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#how-do-i-sign-up">How do I sign up?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-is-the-process-of-participating">What is the process of participating?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#how-many-prizes-are-there-what-are-the-prizes">How many prizes are there? What are the prizes?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#can-i-sign-up-as-a-team-how-many-people-can-be-a-member-of-my-team">Can I sign up as a team? How many people can be a member of my team?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-will-i-need-to-do-to-win">What will I need to do to win?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#who-is-going-to-judge-these-entries-who-are-these-people">Who is going to judge these entries? Who are these people?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#when-can-i-start-submitting-issues">When can I start submitting issues?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#registration-does-not-work-for-me-what-can-i-do">Registration does not work for me&#8212;what can I do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-registered-as-a-team-but-i-want-to-change-the-team-composition-by-adding-or-removing-members-what-should-i-do">I registered as a team but I want to change the team composition by adding or removing members. What should I do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-have-a-previous-engagement-and-i-cannot-sign-up-until-after-the-competition-starts-is-this-ok">I have a previous engagement and I cannot sign up until after the competition starts. Is this ok?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#my-team-has-accepted-the-terms-and-conditions-except-for-one-person-who-is-unavailable-whose-email-was-misspelled-etc-what-can-i-do">My team has accepted the Terms and Conditions except for one person who is unavailable / whose email was misspelled / etc. What can I do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#can-i-enter-multiple-times">Can I enter multiple times?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#why-do-you-need-a-prize-recipient">Why do you need a prize recipient?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#we-want-to-change-the-prize-recipient-what-can-we-do">We want to change the prize recipient. What can we do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-want-to-remain-anonymous-during-the-contest-is-this-possible">I want to remain anonymous during the contest. Is this possible?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#one-of-my-professors-friends-is-a-judge-can-i-participate">One of my professors / friends is a judge. Can I participate?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#can-my-company-be-registered-as-an-entrant">Can my company be registered as an entrant?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-never-signed-up-for-this-contest-but-i-got-an-email-from-you-what-is-this-about">I never signed up for this contest, but I got an email from you. What is this about?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-tried-to-sign-up-and-it-seems-someone-who-wants-to-be-a-member-of-my-team-has-already-registered-with-another-team-what-can-we-do">I tried to sign up and it seems someone who wants to be a member of my team has already registered with another team. What can we do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-lost-or-never-got-the-email-asking-me-to-confirm-the-terms-and-conditions-what-can-i-do">I lost or never got the email asking me to confirm the Terms and Conditions. What can I do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#one-of-our-team-members-rejected-the-terms-and-conditions-what-can-we-do">One of our team members rejected the Terms and Conditions. What can we do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#how-are-you-going-to-evaluate-the-submissions">How are you going to evaluate the submissions?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#can-i-include-issues-i-submitted-before-the-contest">Can I include issues I submitted before the contest?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-is-the-difference-between-exploit-issue-and-summary">What is the difference between exploit, issue and summary?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-issues-should-i-include-in-the-summary">What issues should I include in the summary?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#why-are-you-asking-for-the-top-10-issues-only">Why are you asking for the top 10 issues only?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#my-english-is-not-great-will-this-count-against-me-in-the-judging-process">My English is not great&#8212;will this count against me in the judging process?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-information-do-i-need-to-include-in-the-issue-submission">What information do I need to include in the issue submission?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#how-do-i-contest-a-decision-that-a-bug-is-a-duplicate">How do I contest a decision that a bug is a duplicate?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#why-is-the-native-client-team-updating-the-source-code-during-the-contest">Why is the Native Client team updating the source code during the contest?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-forgot-to-include-something-in-the-summary-what-can-i-do">I forgot to include something in the summary&#8212;what can I do?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#someone-from-our-team-submitted-a-summary-on-behalf-of-our-team-without-consulting-with-everyone-else-how-can-we-ensure-that-the-judges-will-use-the-previous-summary-and-not-the-last-one">Someone from our team submitted a summary on behalf of our team without consulting with everyone else. How can we ensure that the judges will use the previous summary and not the last one?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#will-you-be-evaluating-each-exploit-separately-for-every-one-of-the-criteria">Will you be evaluating each exploit separately for every one of the criteria?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-only-found-one-exploit-but-i-think-it-is-very-good-can-i-still-win">I only found one exploit but I think it is very good. Can I still win?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#how-are-you-going-to-pick-the-winners">How are you going to pick the winners?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#when-and-how-are-we-going-to-find-out-the-results-of-the-contest">When and how are we going to find out the results of the contest?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#what-will-google-do-with-my-data">What will Google do with my data?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-have-more-questions-where-can-i-get-a-response">I have more questions&#8212;where can I get a response?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#i-like-this-project-are-you-hiring-people-to-work-on-it-full-time">I like this project. Are you hiring people to work on it full time?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#how-can-i-get-involved-in-this-project-besides-the-contest">How can I get involved in this project besides the contest?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/community/security-contest/contest-faq.html#why-is-my-country-province-excluded-from-the-contest">Why is my country/province excluded from the contest?</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/c-api.html">Pepper C API Reference (Stable)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#id1">Interfaces</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#id2">Structures</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#id3">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#id4">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#id5">Typedefs</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#id6">Macros</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/c-api.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/cpp-api.html">Pepper C++ API Reference (Stable)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/cpp-api.html#id1">Classes</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/cpp-api.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/pepper_stable/c/index.html">Pepper C API Reference (Stable)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#id1">Interfaces</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#id2">Structures</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#id3">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#id4">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#id5">Typedefs</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#id6">Macros</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/c/index.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/pepper_stable/cpp/index.html">Pepper C++ API Reference (Stable)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/cpp/index.html#id1">Classes</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_stable/cpp/index.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/pepper_beta/c/index.html">Pepper C API Reference (Beta)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#id1">Interfaces</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#id2">Structures</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#id3">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#id4">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#id5">Typedefs</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#id6">Macros</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/c/index.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/pepper_beta/cpp/index.html">Pepper C++ API Reference (Beta)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/cpp/index.html#id1">Classes</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_beta/cpp/index.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/pepper_dev/c/index.html">Pepper C API Reference (Dev)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#id1">Interfaces</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#id2">Structures</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#id3">Functions</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#id4">Enums</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#id5">Typedefs</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#id6">Macros</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/c/index.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/pepper_dev/cpp/index.html">Pepper C++ API Reference (Dev)</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/cpp/index.html#id1">Classes</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/pepper_dev/cpp/index.html#files">Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/index.html">Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html">PNaCl Bitcode Reference Manual</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#high-level-structure">High Level Structure</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#type-system">Type System</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#other-values">Other Values</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#intrinsic-global-variables">Intrinsic Global Variables</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#errno-and-errors-in-arithmetic-instructions">Errno and errors in arithmetic instructions</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#instruction-reference">Instruction Reference</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-bitcode-abi.html#intrinsic-functions">Intrinsic Functions</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html">PNaCl C/C++ Language Support</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#source-language-support">Source language support</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#memory-model-and-atomics">Memory Model and Atomics</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#threading">Threading</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#setjmp-and-longjmp"><code>setjmp</code> and <code>longjmp</code></a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#c-exception-handling">C++ Exception Handling</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#inline-assembly">Inline Assembly</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#portable-simd-vectors">Portable SIMD Vectors</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#undefined-behavior">Undefined Behavior</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#floating-point">Floating-Point</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#computed-goto">Computed <code>goto</code></a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-c-cpp-language-support.html#future-directions">Future Directions</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/pnacl-undefined-behavior.html">PNaCl Undefined Behavior</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-undefined-behavior.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-undefined-behavior.html#specification">Specification</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/pnacl-undefined-behavior.html#behavior-in-pnacl-bitcode">Behavior in PNaCl Bitcode</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/nacl-manifest-format.html">Native Client Manifest (nmf) Format</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/nacl-manifest-format.html#overview">Overview</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/nacl-manifest-format.html#field-summary">Field summary</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/nacl-manifest-format.html#field-details">Field details</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/nacl-manifest-format.html#semantics">Semantics</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/sandbox_internals/index.html">Sandbox Internals</a></li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/sandbox_internals/arm-32-bit-sandbox.html">ARM 32-bit Sandbox</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/arm-32-bit-sandbox.html#an-introduction-to-the-arm-architecture">An Introduction to the ARM Architecture</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/arm-32-bit-sandbox.html#the-native-client-approach">The Native Client Approach</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/sandbox_internals/x86-64-sandbox.html">NaCl SFI model on x86-64 systems</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/x86-64-sandbox.html#summary">Summary</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/x86-64-sandbox.html#binary-format">Binary Format</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/x86-64-sandbox.html#runtime-invariants">Runtime Invariants</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/x86-64-sandbox.html#text-segment-rules">Text Segment Rules</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/sandbox_internals/x86-64-sandbox.html#list-of-pseudo-instructions">List of Pseudo-instructions</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/reference/design-docs.html">Design Documents</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/reference/design-docs.html#obsolete-not-implemented">Obsolete (not implemented)</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/publications-and-presentations.html">Publications and Presentations</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/publications-and-presentations.html#recent-talks-and-demos">Recent talks and demos</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/publications-and-presentations.html#publications">Publications</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/publications-and-presentations.html#external-publications">External Publications</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/faq.html">Frequently Asked Questions</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#what-is-native-client-good-for">What is Native Client Good For?</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#development-environments-and-tools">Development Environments and Tools</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#openness-and-supported-architectures-and-languages">Openness, and Supported Architectures and Languages</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#coming-soon">Coming Soon</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#security-and-privacy">Security and Privacy</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#development">Development</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#portability">Portability</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/faq.html#troubleshooting">Troubleshooting</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/help.html">Help with NaCl</a><ul class="small-gap">
<li class="toctree-l2"><a class="reference internal" href="/native-client/help.html#documentation">Documentation</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/help.html#forums">Forums</a></li>
<li class="toctree-l2"><a class="reference internal" href="/native-client/help.html#issue-tracker">Issue tracker</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="/native-client/version.html">SDK version information</a></li>
</ul>
</div>
</section>

{{/partials.standard_nacl_article}}
