/* Copyright 2014 The Chromium Authors. All rights reserved.
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file.
*/
@font-face {
  font-family: 'Roboto2';
  font-weight: 400;
  src: local('Roboto'), local('Roboto2-Regular'),
      url(/roboto.woff2) format('woff2'), url(/roboto.woff) format('woff');
}

body {
  color: #414141;
  font-family: 'Roboto2', sans-serif;
  margin: 0;
}

a {
  color: #414141;
}

.colored {
  color: rgb(66, 133, 244);
}

.label {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 28px;
  white-space: nowrap;
}

.label a {
  text-decoration: none;
  text-transform: uppercase;
}

#button-container {
  text-align: right;
  width: 100%;
}

#container.hide {
  -webkit-transform: scale(0.95);
  -webkit-transition-duration: 218ms;
  -webkit-transition-property: opacity, -webkit-transform;
  opacity: 0;
}

#description {
  font-size: 16px;
  line-height: 1.4em;
  margin: 32px 16px 4px 16px;
}

#heading {
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 0;
  text-align: center;
}
